<div class="bigDiv" style="width:300px;">
  <h1 style="text-align:center;">Editar reseña</h1>
</div>

<div class="bigDiv" style="width:400px;">
<br>
<%= form_with model: @resena, action: 'update' do |f| %>


    <%= f.label :calificacion%>
    <%= f.select :calificacion, [1, 2, 3, 4, 5], :required => true %>

    <br/>
    <%= f.label :descripcion%>
    <%= f.text_field :contenido, :required => true %>
    
    <br/>
    <br/>
    <div style="text-align:center">
    <%= f.submit "Guardar reseña", class: "link" %>
    </div>
<% end %>
</div>

<br/>

<div class="smallButton">
  <%= link_to "Volver", resenas_path(@resena.usuario_id), class: "link" %>
</div>p>
