<div class="bigDiv" style="width:250px;">
  <h1 style="font-family:Cambria;text-align:center;">Editar reseña <%= @resena.id %></h1>
</div>

<div class="bigDiv" style="width:300px;">
<%= form_with model: @resena, action: 'update' do |f| %>


    <span>&#8226;</span><%= f.label :calificacion%>
    <%= f.select :calificacion, [1, 2, 3, 4, 5], :required => true %>

    <br/>
    <span>&#8226;</span><%= f.label :descripcion%>
    <%= f.text_field :contenido, :required => true %>
    
    <br/>
    <br/>
    <%= f.submit "Guardar reseña" %>
<% end %>
</div>

<br/>

<div class="smallButton">
  <%= link_to "Volver", resenas_path(@resena.usuario_id), class: "link" %>
</div>p>
