<div class="bigDiv">
  <h1>Reseñas para <%= @usuario.nombre %></h1>
</div>

<div class="bigDiv">
<ul>
        <br>
        <% @usuario.resenas.each do |resena| %>
            <div style="background-color:white;border-radius:15px;border:1px solid black;width:95%;">
            <p>• Calificación: <%= resena.calificacion %></p>
            <p>• Descripción: <%= resena.contenido %></p> <br/>
            <p>Creada por:</p> <%= image_tag resena.autor.avatar_perfil, width:"30", height:"30", style:"border-radius:50%;border:1px solid black;display:inline-block;" %> <p style="display:inline-block;"><%= resena.autor.nombre %></p><br>
            <% if resena.autor_id == current_usuario.id %>
              <div>
                <%= link_to "Eliminar reseña", resena_path(@usuario.id, resena.id), method: :delete, class: "link" %>
                <%= link_to "Editar reseña", edit_resena_path(@usuario.id, resena.id), class: "link" %>
              </div>
            <% end %>
            <br>
            </div>
            <br/>
        <hr>
        <% end %>
      </div>
</ul>

<br>

<div class="smallButtons">
  <div class="smallButton">
      <%= link_to "Nueva reseña", new_resena_path, params: {autor_id: current_usuario.id, usuario_id: @usuario.id}, class: "link" %>
  </div>

  <div class="smallButton">
    <%= link_to "Volver", turnos_path, class: "link" %>
  </div>
</div>
