<div class="bigDiv" style="width:280px;">
  <h1 style="text-align:center;">Crear rese침a</h1>
</div>

<br/>

<div class="bigDiv" style="width:400px;">
<%= form_with url: resenas_path(params[:usuario_id]) do |f| %>
    <div style="text-align:center">
    <%= f.label :usuario %>
    <%= f.label Usuario.find(params[:usuario_id]).nombre %>
    </div>

    <br/>
    <%= f.label :calificaci칩n %>
    <%= f.select :calificacion, [1, 2, 3, 4, 5], :required => true %>

    <br/>
    <%= f.label "Descripci칩n" %>
    <%= f.text_field :contenido, :required => true %>
    
    <br/>
    <br/>
    <div style="text-align:center">
    <%= f.submit "Crear rese침a", class: "link" %>
    </div>
<% end %>
</div>

<br/>

<div class="smallButton">
  <%= link_to "Volver", resenas_path(params[:usuario_id]), class: "link" %>
</div>
