<div class="bigDiv" style="width:300px;">
  <h1 style="font-family:Cambria;text-align:center;">Edit <%= resource_name.to_s.humanize %></h1>
</div>

<div class="bigDiv" style="width:300px;text-align:center;">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "usuarios/shared/error_messages", resource: resource %>

  <img src=<%= resource.imagen_perfil %>  width="150" height="150">

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre, autocomplete: "name", required: true %>
  </div>

  <div class="field">
    <%= f.label :télefono%><br />
    <%= f.text_field :telefono, autocomplete: "phone", required: true %>
  </div>

  <div class="field">
    <%= f.label :dirección%><br />
    <%= f.text_field :direccion, autocomplete: "address", required: true %>
  </div>

  <div class="field">
    <%= f.label :URL_foto_perfil%><br />
    <%= f.url_field :imagen_perfil, required: true %>
  </div>

  <div class="field">
    <%= f.label :clave %> <i>(dejar en blanco para no cambiar)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> caracteres mínimo</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :confirmar_clave %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :clave_actual %> <i>(necesaria para confirmar los cambios)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Actualizar" %>
  </div>
<% end %>

</div>

<br/>

<div class="bigDiv" style="width:160px;text-align:center;">
  <h3 style="font-family:Cambria;text-align:center;">Cerrar mi cuenta</h3>

  <p><%= button_to "Eliminar mi cuenta", registration_path(resource_name), data: { confirm: "¿Seguro?" }, method: :delete %></p>
</div>

<br/>


<div class="smallButton">
  <%= link_to "Volver", :back, class: "link" %>
</div>
