<div style="background-color: #71a9c0; width:300px; height:auto;border: 3px solid;box-shadow: 5px 5px;margin:auto;">
  <h1 style="font-family:Cambria;text-align:center;">Registro</h1>
</div>

<div style="background-color: #71a9c0; width:300px; height:auto;border: 3px solid;box-shadow: 5px 5px;margin:auto;text-align:center;">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "usuarios/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true %>
  </div>

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre, autocomplete: "name", required: true %>
  </div>

  <div class="field">
    <%= f.label :télefono%><br />
    <%= f.text_field :telefono, autocomplete: "phone", required: true %>
  </div>

  <div class="field">
    <%= f.label :dirección%><br />
    <%= f.text_field :direccion, autocomplete: "address", required: true %>
  </div>

  <div class="field">
    <%= f.label :URL_foto_perfil%><br />
    <%= f.url_field :imagen_perfil, required: true %>
  </div>

  <div class="field">
    <%= f.label :clave %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> caracteres mínimo)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", required: true %>
  </div>

  <div class="field">
    <%= f.label :confirmar_clave %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", required: true %>
  </div>

  <br/>

  <div class="actions">
    <%= f.submit "Registrarse" %>
  </div>
<% end %>
</div>

<br/>

<div style="background-color: #71a9c0; width:80px; height:auto;border: 3px solid;margin:auto;text-align:center;border-radius: 15px;">
  <%= link_to "Volver", root_path %>
</div>
