<div class="bigDiv" style="width:350px;text-align:center;">
  <h1>Mis Turnos</h1>
</div>

<br>

<div class="bigDiv" style="border:0px;">
    <p>Turnos que has publicado:</p>
    <ul>
        <% @turnos.each do |turno| %>
            <li><%= link_to "#{turno}", turno, class: "link" %></li>
        <% end %>
    </ul>
</div>

<br>

<div class="bigDiv" style="border:0px;">
    <p style="font-family:Cambria;">Solicitudes aceptadas:</p>
    <ul>
        <% @solicitudes_aceptadas.each do |solicitud| %>
            <li><%= link_to "#{solicitud}", solicitud.turno, class: "link" %></li>
        <% end %>
    </ul>
</div>

<br>

<div class="bigDiv" style="border:0px;">
    <p style="font-family:Cambria;">Solicitudes pendientes:</p>
    <ul>
        <% @solicitudes_pendientes.each do |solicitud| %>
            <li><%= link_to "#{solicitud}", solicitud.turno, class: "link" %></li>
        <% end %>
    </ul>
</div>

<br>

<div class="bigDiv" style="border:0px;">
    <p style="font-family:Cambria;">Solicitudes rechazadas:</p>
    <ul>
        <% @solicitudes_rechazadas.each do |solicitud| %>
            <li><%= link_to "#{solicitud}", solicitud.turno, class: "link" %></li>
        <% end %>
    </ul>
</div>

<br>

<div class="smallButton">
  <%= link_to "Volver", root_path, class: "link" %>
</div>
