<div class="bigDiv" style="width:300px;">
  <h1>Editar solicitud <%= @solicitud.id %></h1>
</div>

<br/>

<div class="bigDiv" style="width:500px;">
Turno: <%= @solicitud.turno.id %>

<%= form_with model: @solicitud, action: 'update' do |f| %>


    <%= f.label :Estado%>
    <%= f.select :descripcion, ["Aceptada", "Rechazada", "Pendiente"], :required => true %>
    
    <br/> 
    <br/>

    <div style="text-align:center;">
      <%= f.submit "Guardar solicitud" %>
    </div>

    <br>
<% end %>
</div>
