<div style="background-color: #71a9c0; width:300px; height:auto;border: 3px solid;margin:auto;">
  <h1 style="font-family:Cambria;text-align:center;">Editar solicitud <%= @solicitud.id %></h1>
</div>

<br/>

<div style="background-color: #71a9c0; width:500px; height:auto;border: 3px solid;box-shadow: 5px 5px;margin:auto;">
Turno: <%= @solicitud.turno.id %>

<%= form_with model: @solicitud, action: 'update' do |f| %>


    <%= f.label :Estado%>
    <%= f.select :descripcion, ["Aceptada", "Rechazada", "Pendiente"], :required => true %>
    
    <br/> 
    <br/>
    <div style="text-align:center;">
      <%= f.submit "Guardar solicitud" %>
    </div>
<% end %>
</div>
