<div style="background-color: #71a9c0; width:300px; height:80px;border: 3px solid;box-shadow: 5px 5px;margin:auto;">
  <h1 style="font-family:Cambria;">Change your password</h1>
</div>

<div style="background-color: #71a9c0; width:300px; height:120px;border: 3px solid;box-shadow: 5px 5px;margin:auto;">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "usuarios/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :password, "New password" %><br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirm new password" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Change my password" %>
  </div>
<% end %>
</div>

<%= render "usuarios/shared/links" %>
