<div class="bigDiv" style="width:300px;">
  <h1 style="text-align:center;">Editar turno</h1>
</div>

<div class="bigDiv" style="width:300px;text-align:center;">
<%= form_with model: @turno, local: true, action: 'update' do |f| %>
    <% if @turno.errors.any? %>
      <h5>No se pudo guardar el turno</h5>
      
      <ul>
        <% @turno.errors.full_messages.each do |message|%>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
    
    <%= f.label :fecha %><br>
    <%= f.datetime_field :fecha, :required => true %><br>

    <br/>
    <%= f.label "Dirección origen/destino" %><br>
    <%= f.text_field :direccion_salida, :required => true %><br>

    <br/>
    <%= f.label "Comuna origen/destino" %><br>
    <%= f.text_field :comuna, :required => true %><br>

    <br/>
    <%= f.label :campus_destino%><br>
    <%= f.select :campus, ["San Joaquín", "Casa Central", "Oriente", "Lo Contador", "Villarrica"], :required => true %><br>

    <br/>
    <%= f.label :tipo%><br>
    <%= f.select :tipo, ["Ida", "Vuelta"], :required => true %><br>


    <br/>
    <%= f.label :cupos%><br>
    <%= f.number_field :cupos, min: 1, step: 1, :required => true %><br>
    
    <br/>
    <br/>

    <div style="text-align:center;">
      <%= f.submit "Guardar turno", class: "link" %>
    </div>

    <br>
<% end %>
</div>

<br/>

<div class="smallButton">
  <%= link_to "Volver", root_path, class: "link" %>
</div>
