<div class="buscarTurno">
  <h1>Busca un turno:</h1>
</div>

<br>

<div class="publicaciones">
  <p>Turnos de ida:</p>
  <ul>
    <% @turnos.each do |turno| %>
      <% if turno.tipo == "Ida" %> 
        <p><%= image_tag("icono.png", size: "30x30") %>‏‎ <%= link_to turno, turno_path(turno.id), class: "link" %></p>
      <% end %>
    <% end %>
  </ul>
</div>

<br>

<div class="publicaciones">
  <p>Turnos de vuelta:</p>
  <ul>
    <% @turnos.each do |turno| %>
      <% if turno.tipo == "Vuelta" %>
        <p><%= image_tag("icono.png", size: "30x30") %>‏‎ <%= link_to turno, turno_path(turno.id), class: "link" %></p>
      <% end %>
    <% end %>
  </ul>
</div>

<br>

<div class="smallButton">
  <%= link_to "Crear turno", new_turno_path, class: "link" %>
</div>
