<%# Notificaciones %>
<% if current_usuario %>
  <div class="publicaciones" style="float:right;width:20%;vertical-align:top;padding: 10px 10px 10px 10px;margin-right:15px;">
    <%= image_tag("notificacion.png", size: "30x30") %> <b>Notificaciones:</b>

    <% if current_usuario.notificaciones_nuevas.empty? %>
      No hay notificaciones nuevas
    <% else %>
      <ul>
        <% current_usuario.notificaciones_nuevas.each do |notificacion| %>
          <li>
          <hr>
            <%= notificacion %>
            <br>
            <div style="display: inline-block;">
             % <%= button_to 'Ver turno', notificacion.turno, method: :get, class: 'link' %>
            </div>
            <div style="display: inline-block;">
               <%= button_to 'Descartar notificacion', dismiss_notificacion_path(notificacion), class: 'link' %>
            </div>
          <hr>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
<% end %>

<br>

<div class="buscarTurno">
  <h1>Busca un turno:</h1>
</div>

<br>
<%# Filtrar Turnos %>
<div style="padding:10px 10px 10px 10px;">
  <button type="button" class="collapsible" style="float:left">Filtrar turnos:</button>
  <div class="bigDiv" style=<%="width:530px;display:#{if @filtrado then 'block' else 'none' end};"%>>
    <%= form_for "", url: root_path, method: :get do |f| %>
      <br/>
      <%= f.label :campus %>
      <%= f.select :campus_filtro, ["-","San Joaquín", "Casa Central", "Oriente", "Lo Contador", "Villarrica"], selected: @campus_filtro %>

      <br/><br>
      <%= f.label :fecha %>
      <%= f.date_field :fecha_filtro, value: @fecha_filtro %><br><br>

      <div style="text-align:center">
      <%= f.submit "Filtrar", class: "link" %>
      </div>
    <% end %>
  </div>
</div>

<%# Mostrar Turnos de Ida%>
<div class="publicaciones">
  <p>Turnos de ida:</p>
  <ul>
    <% @turnos.where(tipo: 'Ida').each do |turno| %>
      <p><%= image_tag("icono.png", size: "30x30") %>‏‎ <%= link_to turno, turno_path(turno.id), class: "link" %></p>
    <% end %>
  </ul>
</div>

<br>

<%# Mostrar Turnos de Vuelta %>
<div class="publicaciones">
  <p>Turnos de vuelta:</p>
  <ul>
    <% @turnos.where(tipo: 'Vuelta').each do |turno| %>
      <p><%= image_tag("icono.png", size: "30x30") %>‏‎ <%= link_to turno, turno_path(turno.id), class: "link" %></p>
    <% end %>
  </ul>
</div>



<br>

<div class="smallButton">
  <%= link_to "Crear turno", new_turno_path, class: "link" %>
</div>

<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>
