
<div class="bigDiv" style="width:350px;text-align:center;">
  <h1 style="font-family:Cambria;text-align:center;">Publicaciones:</h1>
</div>

<br/>

<div class="bigDiv" style="width:500px;border-radius:15px;">
  <p style="font-family:Cambria"><b>Turnos de ida:</b></p>
  <ul>
    <% @turnos.each do |turno| %>
      <% if turno.tipo == "Ida" %> 
        <p><%= image_tag("icono.png", size: "30x30") %>‏‎ <%= link_to "Turno ##{turno.id} de #{turno.direccion_salida} a #{turno.campus} día #{turno.dia}", turno_path(turno.id), class: "link" %></p>
      <% end %>
    <% end %>
  </ul>

  <p style="font-family:Cambria"><b>Turnos de vuelta:</b></p>
  <ul>
    <% @turnos.each do |turno| %>
      <% if turno.tipo == "Vuelta" %>
        <p><%= image_tag("icono.png", size: "30x30") %>‏‎ <%= link_to "Turno ##{turno.id} de #{turno.campus} a #{turno.direccion_salida} día #{turno.dia}", turno_path(turno.id), class: "link" %></p>
      <% end %>
    <% end %>
  </ul>
</div>

<br/>
<div class="smallButton">
  <%= link_to "Crear turno", new_turno_path, class: "link" %>
</div>
