<div class="bigDiv" style="width:350px;text-align:center;border-radius:15px;">
  <h1 style="font-family:Cambria;text-align:center;">Busca una publicación:</h1>
</div>

<br>

<div class="publicacion">
  <p style="font-family:Cambria"><b>Turnos de ida:</b></p>
  <ul>
    <% @turnos.each do |turno| %>
      <% if turno.tipo == "Ida" %> 
        <p><%= image_tag("icono.png", size: "30x30") %>‏‎ <%= link_to turno, turno_path(turno.id), class: "link" %></p>
      <% end %>
    <% end %>
  </ul>
</div>

<br>

<div class="publicacion">
  <p style="font-family:Cambria"><b>Turnos de vuelta:</b></p>
  <ul>
    <% @turnos.each do |turno| %>
      <% if turno.tipo == "Vuelta" %>
        <p><%= image_tag("icono.png", size: "30x30") %>‏‎ <%= link_to turno, turno_path(turno.id), class: "link" %></p>
      <% end %>
    <% end %>
  </ul>
</div>

<br><br>

<div class="smallButton">
  <%= link_to "Crear turno", new_turno_path, class: "link" %>
</div>
