<div class="bigDiv" style="width:250px;">
  <h1 style="font-family:Cambria;text-align:center;">Crear turno</h1>
</div>

<br/>

<div class="bigDiv" style="width:400px;border-radius: 15px;">
<%= form_with url: turnos_path do |f| %>


    <%= f.label :fecha %>
    <%= f.datetime_field :fecha, :required => true %>

    <br/>
    <%= f.label "Dirección origen/destino" %>
    <%= f.text_field :direccion_salida, :required => true %>
    
    <br/>
    <%= f.label "Comuna origen/destino" %>
    <%= f.text_field :comuna, :required => true %>

    <br/>
    <%= f.label "Campus origen/destino" %>
    <%= f.select :campus, ["San Joaquín", "Casa Central", "Oriente", "Lo Contador", "Villarrica"], :required => true %>

    <br/>
    <%= f.label :tipo %>
    <%= f.select :tipo, ["Ida", "Vuelta"], :required => true %>

    <br/>
    <%= f.label :cupos %>
    <%= f.number_field :cupos, min: 1, step: 1, :required => true %>
    
    <br/>
    <br/>
    <%= f.submit "Crear turno" %>
<% end %>
</div>

<br/>

<div class="smallButton">
  <%= link_to "Volver", root_path, class: "link" %>
</div>
