<div class="bigDiv" style="width:260px;">
  <h1>Turno <%= @turno.id %></h1>
</div>

<br/>

<div class="bigDiv" style="height:280px;width:900px;padding:5px 5px 5px 5px;">

  <div class="creadorTurno">
    <img src=<%= @turno.usuario.imagen_perfil %>  width="150" height="150" style="border-radius:50%;box-shadow:5px 5px;margin-bottom:5px;">  
    <p style="float:center;">  Creador: <%= @turno.usuario.nombre %></p>
    <%= button_to "Ver sus reseñas", resenas_path(@turno.usuario_id), method: :get , class: "link"%>

    <% if current_usuario.present? && current_usuario.id != @turno.usuario_id %>
      <%= button_to "Dejarle una reseña", new_resena_path(@turno.usuario_id), method: :get, class: "link" %>
    <% end %>
  </div>

  <div class="datosTurno">

   <% if @turno.fecha %>
    <p>• Fecha: <%= l(@turno.fecha, format: '%A, %d/%m %H:%M') %> </p>
    <% else %>
      <p>• Día: <%= @turno.dia %> </p>
      <p>• Hora: <%= @turno.hora_salida.strftime('%H:%M') %> </p>
    <% end %>
    <p>• Tipo: <%= @turno.tipo %></p>
    <p>• Dirección: <%= @turno.direccion_salida %>, <%= @turno.comuna %></p>
    <p>• Campus: <%= @turno.campus %></p>
    <p>• Hora de llegada aproximada: <%= @turno.hora_llegada %></p>
    <p>Este turno posee <%= @turno.cupos %> cupos.</p>
  </div>

  <br>
  <br>
  <br>
  <br>

  <div style="text-align:center;">
    <%= button_to "Solicitar turno", new_solicitud_path, params: {turno_id: @turno.id}, class: "linkSolicitar" %>
  </div>
</div>


<br>

<div style="width:700px;margin:auto;">
  <iframe
    width="700"
    height="300"
    style="border:0"
    loading="lazy"
    allowfullscreen
    referrerpolicy="no-referrer-when-downgrade"
    src= <%= @maps_url %>>
  </iframe>
</div>

<br>


<% if current_usuario.present? %>
  <% if @turno.usuario.id == current_usuario.id %>
   <div class="smallButtons">
    <div class="smallButton">
      <%= link_to "Editar turno", edit_turno_path(@turno), class: "link" %>
    </div>

    <div class="smallButton">
      <%= link_to "Eliminar turno", @turno, method: :delete, class: "link" %>
    </div>
   </div>
  <% end %>
<% end %>

<br>

<div class="bigDiv" style="width:570px;">
<p>Aceptados:</p>
  <ul>
      <% @turno.solicituds.each do |solicitud| %>
        <% if solicitud.descripcion == "Aceptada" %>
          <li>
          <img src=<%= solicitud.usuario.imagen_perfil %>  width="30" height="30" style="border-radius:50%;border:1px solid black;display:inline-block;"> <%= "#{solicitud.usuario.nombre}" %>
          <% if current_usuario.present? %>
            <% if solicitud.usuario.id == current_usuario.id %>
              <div class="salirDelTurno">
                <%= link_to "Salir del turno", solicitud, method: :delete, class: "linkrojo" %>
              </div>
            <% elsif @turno.usuario.id == current_usuario.id %>
              <div style="display: inline-block;">
                <%= button_to "Eliminar del turno", rechazar_solicitud_path(solicitud), class: "link" %>
              </div>
              <div style="display: inline-block;">
                <%= button_to "Ver reseñas", resenas_path(solicitud.usuario.id), method: :get, class: "link"%>
              </div>
              <div style="display: inline-block;">
                <%= button_to "Dejar reseña", new_resena_path(solicitud.usuario.id), method: :get, class: "link"%>
              </div>
            <% end %>
          <% end %>
          </li>
        <% end %>
      <% end %>
  </ul>
<p>Pendientes:</p>
  <ul>
    <% @turno.solicituds.each do |solicitud| %>
      <% if solicitud.descripcion == "Pendiente" %>
        <li>
        Solicitud de <img src=<%= solicitud.usuario.imagen_perfil %>  width="30" height="30" style="border-radius:50%;border:1px solid black;display:inline-block;"> <%= "#{solicitud.usuario.nombre}" %>
        <% if current_usuario.present? %>
          <% if solicitud.usuario.id == current_usuario.id %>
            <div style="display: inline-block;">
              <%= link_to "Eliminar solicitud", solicitud, method: :delete, class: "link" %>
            </div>
          <% elsif @turno.usuario.id == current_usuario.id %>
            <div style="display: inline-block;">
              <%= button_to "Ver reseñas", resenas_path(solicitud.usuario.id), method: :get, class: "link"%>
            </div>
            <div style="display: inline-block;">
              <%= button_to "Aceptar solicitud", aceptar_solicitud_path(solicitud), class: "link"%>
            </div>
            <div style="display: inline-block;">
              <%= button_to "Rechazar solicitud", rechazar_solicitud_path(solicitud), class: "link"%>
            </div>
          <% end %>
        <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>

<p>Rechazados:</p>
  <ul>
      <% @turno.solicituds.each do |solicitud| %>
        <% if solicitud.descripcion == "Rechazada" %>
          <li>
          <img src=<%= solicitud.usuario.imagen_perfil %>  width="30" height="30" style="border-radius:50%;border:1px solid black;display:inline-block;"> <%= "#{solicitud.usuario.nombre}" %>
          <% if current_usuario.present? %>
            <% if solicitud.usuario.id == current_usuario.id %>
              <div style="display: inline-block;">
                <%= link_to "Eliminar solicitud", solicitud, method: :delete, class: "link" %>
              </div>
            <% elsif @turno.usuario.id == current_usuario.id %>
              <div style="display: inline-block;">
                <%= button_to "Ver reseñas", resenas_path(solicitud.usuario.id), method: :get, class: "link"%>
              </div>
              <div style="display: inline-block;">
                <%= button_to "Aceptar solicitud", aceptar_solicitud_path(solicitud), class: "link"%>
              </div>
            <% end %>
          <% end %>
          </li>
        <% end %>
      <% end %>
  </ul>

</div>

<br>


<% if current_usuario.present? %>
  <% if @turno.usuario_en_turno(current_usuario.id)  %>
   <div class="bigDiv" style="border-radius:15px;width:450px;">
    <%= image_tag("mensaje.png", size: "60x60") %>
    <p style="font-size:30px;display:inline-block;"><b>Ride chat </b></p>
    <hr>

    <ul>
      <% @turno.mensajes.order(:updated_at).each do |mensaje| %>
       <div class="mensajeChat">
        <p><%= "#{mensaje.updated_at.localtime.strftime('<%d/%m/%y %H:%M>')} #{mensaje.usuario.nombre}: #{mensaje.contenido}" %></p>
       </div>
      <% end %>
    <ul>
        
    <br>
    <br>
    <%= form_with url: turno_mensajes_path(@turno) do |f| %>
      <%= f.text_field :mensaje %>

      <%= f.submit "Enviar mensaje", class: "linkverde" %>
    <% end %>
   </div>
  <% end %>
<% end %>


<br>


<div class="smallButton">
  <%= link_to "Volver", root_path, class: "link" %>
</div>
