<h1><%= @turno.id %></h1>

Publicado por: <%= @turno.usuario.nombre %> <br/>
Día: <%= @turno.dia %> <br/>
Dirección salida: <%= @turno.direccion_salida %> <br/>
Hora salida: <%= @turno.hora_salida %> <br/>
Tipo: <%= @turno.tipo %> <br/>
Cupos: <%= @turno.cupos %> <br/>
Campus: <%= @turno.campus %> <br/>


Solicitudes:
<ul>
    <% @turno.solicituds.each do |solicitud| %>
        <li>
        <%= "Solicitud #{solicitud.id} de #{solicitud.usuario.nombre} | Estado: #{solicitud.descripcion}" %>
        <% if solicitud.usuario.id == current_usuario.id %>
            <%= link_to "Eliminar solicitud", solicitud, method: :delete %>
        <% elsif @turno.usuario.id == current_usuario.id %>
            <%= button_to "Aceptar turno", aceptar_solicitud_path(solicitud)%>
            <%= button_to "Rechazar turno", rechazar_solicitud_path(solicitud)%>
        <% end %>
        </li>
    <% end %>
</ul>

<% if @turno.usuario.id == current_usuario.id %>
    <%= link_to "Eliminar turno", @turno, method: :delete %>
    <%= link_to "Editar turno", edit_turno_path(@turno)%>
<% end %>

<%= button_to "Solicitar turno", new_solicitud_path, params: {turno_id:@turno.id} %>
<%= link_to "Volver", root_path %>
