<!DOCTYPE html>
<html>
  <head>
    <title>Grupo13</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style> body {background-image: url("<%= asset_path('fondo.png') %>");} 
    </style>
  </head>

  <body>

    <% if current_usuario %>
      <%= link_to "Cerrar Sesión", destroy_usuario_session_path, method: :delete %>
    <% else %>
      <%= link_to "Iniciar Sesión", new_usuario_session_path %>
      <%= link_to "Registrarme", new_usuario_registration_path %>
    <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <hr>
    <%= yield %>
  </body>
</html>
