<!DOCTYPE html>
<html>
  <head>
    <title>Turnos UC</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style> body {background-image: url("<%= asset_path('fondo.png') %>");
                  background-size: cover;
                  height:100vh;} 
    </style>
  </head>

  <body>

    <div class="navBar">

      <div class="logo">
         <div style="vertical-align:top;display: inline-block;">
           <%= image_tag("logo.png", size: "70x70") %>
         </div>
         <h1 style="font-size:35px;display:inline-block;vertical-align:bottom;">Turnos UC‏‏‏‎ ‏‎ ‎‏‏‎</h1>
      </div>
 
      <div class="navButtons">

      <% if current_usuario %>
        <br>
        <div class="navButton">
          <%= link_to "Cerrar Sesión", destroy_usuario_session_path, method: :delete, class: "link" %>
        </div>
        <div class="navButton">
          <%= link_to "Mis turnos", historial_path, class: "link" %>
        </div>
        <div class="navButton">
          <%= link_to "Mi perfil", edit_usuario_registration_path, class: "link" %>
        </div>
        <% if current_usuario.admin %>
          <div class="navButton">
            <%= link_to "Admin Panel", admin_root_path, class: "link" %>
          </div>
        <% end %>
        <div class="navButton">
          <%= link_to "Inicio", root_path, class: "link" %>
        </div>
      <% else %>
        <br>
        <div class="navButton">
          <%= link_to "Registrarme", new_usuario_registration_path, class: "link" %>
        </div>
        <div class="navButton">
          <%= link_to "Iniciar Sesión", new_usuario_session_path, class: "link" %>
        </div>
      <% end %>
      </div>

    </div>

    <br> 
    
    <p class="notice" style="text-align:center;"><%= notice %></p>
    <p class="alert" style="text-align:center;"><%= alert %></p>


    <%= yield %>
    

    <br>

    <div class="footer">
      <p align="right" style="font-size:10px;">   © 2022 Pontificia Universidad Católica de Chile  ‏‎ ‎‏‏‎ ‏‎ ‎‏‏‎</p>
    </div>

  </body>
</html>
